<ion-view view-title='Counties'>
  <!--Search bar header button-->
  <ion-nav-buttons side="primary">
    <button ng-click="openPopover($event)" class="button icon ion-grid"></button>
  </ion-nav-buttons>
  <ion-nav-buttons side="secondary">
    <button class="button icon ion-search" ng-if="!searchBar" ng-click="showSearch()">
    </button>
    <button class="button icon ion-close" ng-if="searchBar" ng-click="hideSearch()">
    </button>
  </ion-nav-buttons>

  <!--Content-->
  <ion-content>
    <!--Search bar textbox-->
    <div class="bar bar-header item-input-inset" ng-if="searchBar == true">
      <label class="item-input-wrapper">
        <i class="icon ion-ios-search placeholder-icon"></i>
        <input type="search" placeholder="Search" ng-model="$parent.searchString" focus-me="searchBar">
      </label>
    </div>

    <ion-list can-swipe="true">
      <ion-item ng-repeat="item in items | unique:'floodArea.county' | orderBy:'floodArea.county' | filter:{floodArea:{county:searchString}}"
                class="item item-text-wrap"
                ng-click="showItem(item)">
        {{item.floodArea.county}}
        <i class="icon ion-chevron-right"></i>
        <ion-option-button class="button-positive icon ion-pin"
                           ng-click="bookmarkCounty(item.floodArea.county)" ng-show="!isBookmarked(item.floodArea.county)">
        </ion-option-button>
        <ion-option-button class="button-assertive icon ion-pin"
                           ng-click="removeBookmark(item.floodArea.county)" ng-show="isBookmarked(item.floodArea.county)">
        </ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
