<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <!-- Bookmarks Tab -->
  <ion-tab title="Watch" icon-off="ion-eye" icon-on="ion-eye" href="#/tab/bookmarks">
    <ion-nav-view name="tab-bookmarks"></ion-nav-view>
  </ion-tab>

  <!-- Counties Tab -->
  <ion-tab title="Counties" icon-off="ion-ios-list" icon-on="ion-ios-list" href="#/tab/counties">
    <ion-nav-view name="tab-counties"></ion-nav-view>
  </ion-tab>

  <!-- Near me Tab -->
  <ion-tab title="Near me" icon-off="ion-location" icon-on="ion-location" href="#/tab/nearMe">
    <ion-nav-view name="tab-nearme"></ion-nav-view>
  </ion-tab>

  <!-- Settings Tab -->
  <ion-tab title="Settings" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" href="#/tab/account">
    <ion-nav-view name="tab-settings"></ion-nav-view>
  </ion-tab>


</ion-tabs>
