<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
  <title></title>


  <!-- compiled css output -->
  <link href="css/ionic.app.css" rel="stylesheet">

  <!-- ionic/angularjs js -->
  <script src="lib/ionic/js/ionic.bundle.js"></script>
  <script src="lib/ionic-toast/dist/ionic-toast.bundle.min.js"></script>

  <!-- cordova script (this will be a 404 during development) -->
  <script src="cordova.js"></script>

  <!-- your app's js -->
  <script src="js/app.js"></script>
  <script src="js/controller.js"></script>
</head>
<body ng-app="starter">
<!--Header-->
<!--<ion-tabs class="tabs-positive tabs-icon-top">-->

  <!--<ion-tab title="Counties" icon-on="ion-ios-filing" icon-off="ion-ios-filing-outline">-->
    <!--<ion-nav-view></ion-nav-view>-->
  <!--</ion-tab>-->

  <!--<ion-tab title="Near me" icon-on="ion-ios-clock" icon-off="ion-ios-clock-outline">-->
    <!--&lt;!&ndash; Tab 2 content &ndash;&gt;-->
  <!--</ion-tab>-->

  <!--<ion-tab title="Settings" icon-on="ion-ios-gear" icon-off="ion-ios-gear-outline">-->
    <!--&lt;!&ndash; Tab 3 content &ndash;&gt;-->
  <!--</ion-tab>-->

<!--</ion-tabs>-->
<ion-nav-bar class="bar-positive">
  <ion-nav-back-button></ion-nav-back-button>
</ion-nav-bar>

<ion-nav-view></ion-nav-view>

<!--<ion-nav-bar class="bar-positive">-->
  <!--<ion-nav-back-button></ion-nav-back-button>-->
  <!--<ion-nav-buttons side="primary">-->
    <!--<button ng-click="openPopover($event)" class="button icon ion-grid"></button>-->
  <!--</ion-nav-buttons>-->
  <!--<ion-nav-buttons side="secondary">-->
    <!--<button class="button icon ion-search" ng-if="!searchBar" ng-click="showSearch()">-->
    <!--</button>-->
    <!--<button class="button icon ion-close" ng-if="searchBar" ng-click="hideSearch()">-->
    <!--</button>-->
  <!--</ion-nav-buttons>-->
<!--</ion-nav-bar>-->



<!--<ion-tabs class="tabs-positive tabs-icon-top">-->

  <!--<ion-tab title="Counties" icon-on="ion-ios-filing" icon-off="ion-ios-filing-outline" ui-sref="home">-->
    <!--<ion-nav-bar class="bar-positive">-->
      <!--<ion-nav-back-button></ion-nav-back-button>-->
      <!--&lt;!&ndash;<ion-nav-buttons side="primary">&ndash;&gt;-->
        <!--&lt;!&ndash;<button ng-click="openPopover($event)" class="button icon ion-grid"></button>&ndash;&gt;-->
      <!--&lt;!&ndash;</ion-nav-buttons>&ndash;&gt;-->
      <!--&lt;!&ndash;<ion-nav-buttons side="secondary">&ndash;&gt;-->
        <!--&lt;!&ndash;<button class="button icon ion-search" ng-if="!searchBar" ng-click="showSearch()">&ndash;&gt;-->
        <!--&lt;!&ndash;</button>&ndash;&gt;-->
        <!--&lt;!&ndash;<button class="button icon ion-close" ng-if="searchBar" ng-click="hideSearch()">&ndash;&gt;-->
        <!--&lt;!&ndash;</button>&ndash;&gt;-->
      <!--&lt;!&ndash;</ion-nav-buttons>&ndash;&gt;-->
    <!--</ion-nav-bar>-->
    <!--<ion-nav-view name="Counties"></ion-nav-view>-->
  <!--</ion-tab>-->

  <!--<ion-tab title="Near me" icon-on="ion-ios-clock" icon-off="ion-ios-clock-outline" href="#/nearMe">-->
    <!--<ion-nav-view name="Near me"></ion-nav-view>-->
  <!--</ion-tab>-->

  <!--<ion-tab title="Settings" icon-on="ion-ios-gear" icon-off="ion-ios-gear-outline">-->
    <!--&lt;!&ndash; Tab 3 content &ndash;&gt;-->
  <!--</ion-tab>-->

<!--</ion-tabs>-->

</body>
</html>
